
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 1em;
	font-family: times, serif;
	color:#1F1F1F; /*changes color of the whole text*/
	margin-top: 0;
	background-color: #0900B3;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgba(255,255,255,.9);
	-webkit-box-shadow: 0px 0px 5px #ececec;
	-moz-box-shadow:    0px 0px 5px #ececec;
	box-shadow:         0px 0px 5px #ececec;

}
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #bbb8bf; /*changes color of border under project name*/
	text-align: center;
}
h1{
	font-size: 2.75em;
	font-family: helvetica, arial, san-serif;
	text-align: center;
	margin-top: 0;
	padding-top: 10px;
}
h2{
	font-size: 2em;
	font-family: helvetica, arial, san-serif;
	margin-top: 20px;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #50E6EA;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 100%;
}
tr{
	display: table-row;
	border-color: inherit;
}
.odd{
	background: #E0EAFF; /*changes color of the stripes table*/
}

.odd th, .even th{
	text-align: right;
}

td:hover{
	background: #FF7F87;
}

th{
	text-align: center;
	padding: 1em 1em .5em;
	text-transform: uppercase;
	font-family: helvetica, arial, san-serif;
	font-weight: bold;
	font-size: 120%;
	color: #FFFFFF;  /*changes color of table hd text*/
	background: #0900B3; /*changes color of table hd background*/
}
th:first-child{
	border-right: 1px solid #FFFFFF;
}
td{
	padding: 1em 1em;
	width: 30%;
	border-right: 1px solid #FFFFFF;
}

/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	width: 45%;
	float: left;
	font-size: 1.4em;

}
.main figure{
	float: right;
	margin: 15px 0 20px 0;
	width: 50%;

}
figure img{
	width: 480px;
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: underline;
}
a:active{
	color: #0900B3;
}
a:visited{
	color: #EBEBEB;
}


/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 60%;	
		}
		td{
			width: 50%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#wrapper{
			width: 95%;
	
		}
		.main, header, h2{
			padding-left: 1%;
			padding-right: 1%;
		}
		.main figure{
			width: 100%;
			float: right;
		}
		.main p{
			width: 98%;
		}
		.main figure img{
			width: 100%;
		}
		td{
			width: 50%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{
			width: 98%;
			min-width: 480px;
			max-width: 767px;
		}
		.main p{
			width: 100%;
		}
		td{

			width: 50%;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#wrapper{
			width: 96%;
		}
		figure {
			display: none;
		}
		figcaption{
			display: none;
		}
		.sec{
			margin-top: 10px;
		}
		tr{
			height: 44px;
			line-height: 44px;
		}
		td{
			width: 50%;
			
		}
	}


